

<div class='container'>
    <h3>Add new location</h3>
    {{this.confirm_text}}

    {{!-- TODO: PUT new entries --}}
    <div class='form-group'>
        <div class='form-row'>
            <form id="insertForm" action="/add_location" method="POST">
                <label for="name">Name:</label>
                <input class='form-control col' type="text" name="name" placeholder="Location Name" id="name"
                    required="required">

                <br>
                <label for="countryID">Country:</label>
                <select class='form-control col' name="countryID" id="countryID">
                    <option value="">--Please choose an option--</option>
                    {{#each countryList}}
                    <option value={{this.countryID}}>{{this.countryName}}</option>
                    {{/each}}
                </select>
                <button class='btn btn-link' href='/add_country'> Add Country</button>
                <button class='btn btn-link' href='/edit_country'>Edit Country</button>

                <br>
                <label for="city">City:</label>
                <input class='form-control col' type="text" name="city" id="city" required="required">

                {{!-- Not implemented
                    <br>
                    <label for="state">State:</label>
                <select name="state" id="state">
            <option value="">--Please choose an option--</option>
            <option value="il">Illinois</option>
            <option value="me">Maine</option>
                    <option value="wa">Washinton</option>
                    <option value="tx">Texas</option>
                    <option value="wi">Wisconsin</option>
                    </select> --}}

                <br>
                <label for="streetAddress">Street Address:</label>
                <input class='form-control col' type="text" name="streetAddress" id="streetAddress"
                    placeholder="123 Green St" required="required">

                <br>
                <input class='btn btn-primary' type="submit" value="Add Location" id="add_location_button">
                <button class='btn btn-link' href='/add_entry'>Cancel</button>
            </form>

        </div>

        {{!-- TODO: Create a good back button --}}

    </div>

</div>