

<div class='container'>
    <h3>Add Country</h3>

    {{this.confirm_text}}
    
    <div class='form-group'>
        <form id="insertForm" action="/add_country" method="POST">
            <label for="country_name"></label>
            <input class='form-control' type="text" name="countryName" placeholder="Country Name" id="countryName"
                required="required">

            <br>
            <input class='btn btn-primary' type="submit" value="Add Country" id="add_country_button"
                style='float:left;'>
        </form>

        <form action="/country">
            <input class=' btn btn-link' type="submit" value="Cancel" id="cancel_button" style="float:left;">
        </form>
    </div>

</div>