<h1>Add a new location here!</h1>

{{!-- TODO: PUT new entries --}}
<form id="insertForm" action="/add_location" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="Location Name" id="name" required="required">
    
    <br>
    <label for="countryID">Country:</label>
    <select name="countryID" id="countryID">
        <option value="">--Please choose an option--</option>
        {{#each countryList}}
        <option value={{this.countryID}}>{{this.countryName}}</option>
        {{/each}}
    </select>

    <br>
    <label for="city">City:</label>
    <input type="text" name="city" id="city" required="required">
    
{{!-- Not implemented
    <br>
    <label for="state">State:</label>
    <select name="state" id="state">
        <option value="">--Please choose an option--</option>
        <option value="il">Illinois</option>
        <option value="me">Maine</option>
        <option value="wa">Washinton</option>
        <option value="tx">Texas</option>
        <option value="wi">Wisconsin</option>
    </select> --}}

    <br>
    <label for="streetAddress">Street Address:</label>
    <input type="text" name="streetAddress" id="streetAddress" placeholder="123 Green St" required="required">
    
    <br>
    <input type="submit" value="Add Location" id="add_location_button">
</form>

{{!-- TODO: Create a good back button --}}
<form action="/add_entry">
    <button>Cancel</button>
</form>

<form action="/add_country">
    <button>Add Country</button>
</form>

<form action="/edit_country">
    <button>Edit Country</button>
</form>