<div class='container'>
    <h3>Edit Country</h3>

    {{this.confirm_text}}
    {{!-- TODO: PUT new entries --}}
    <div class='form-group'>
        <form id="insertForm" action="/edit_country" method="POST">

            <input type="hidden" name="countryID" value={{country.countryID}} id="countryID">

            <label for="countryName">Name:</label>
            <input class='form-control' type="text" name="countryName" placeholder="Country Name" value={{country.countryName}} id="countryName"
                required="required">

            <br>
            <input class='btn btn-primary' type="submit" value="Edit Country" id="edit_country_button"
                style='float:left;'>
        </form>
        {{!-- TODO: Create a good back button --}}
        <form action="/country">
            <button class='btn btn-link' style='float:left;'>Cancel</button>
        </form>
    </div>

</div>