<div class='container'>

    <table class='table'>
        <tr>
            <th>Country Name</th>
        </tr>
        {{#each countryList}}
        <tr>
            <td id='country + {{this.countryID}}'>{{this.countryName}}</td>
            <td><button id="editButton{{this.countryID}}" class='btn btn-primary'>Edit</button></td>
            <td><button id="deleteButton{{this.countryID}}" class='btn btn-link'>Delete</button></td>
        </tr>
        {{/each}}
    </table>
    <button class='btn btn-link' href='/add_location'>Cancel</button>

    {{!-- TODO: PUT new entries --}}
    {{!-- <div class='form-group'>
        <div class='form-row'>
            <form id="insertForm" action="/">
                <label for="country_name">Name:</label>
                <input class='form-control' type="text" name="country_name" placeholder="Country Name" id="country_name"
                    required="required">

                <input class='btn btn-primary' type="submit" value="Add Country" id="add_location_button">
            </form> --}}

    {{!-- TODO: Create a good back button --}}

</div>
