<h1>Edit an entry here!</h1>

<form action="/">
    <button>Go Home</button>
</form>

<form action="/new_location">
    <button>Add Location</button>
</form>

<form action="/edit_location">
    <button>Edit Location</button>
</form>

<form action="/new_category">
    <button>Add Category</button>
</form>

<form action="/edit_category">
    <button>Edit Category</button>
</form>