<div class='container'>
    {{!-- TODO: PUT new entries --}}
    <div class='form-group'>
        <div class='form-row'>
            <form id="insertForm" action="/">
                <label for="country_name">Name:</label>
                <input class='form-control' type="text" name="country_name" placeholder="Country Name" id="country_name"
                    required="required">

                <input class='btn btn-primary' type="submit" value="Add Country" id="add_location_button">
            </form>

            {{!-- TODO: Create a good back button --}}

        </div>
    </div>
    <form action="/add_location">
        <button class='btn btn-link'>Cancel</button>
    </form>
</div>