<div class='container'>
    <h3>Edit Category</h3>

    {{this.confirm_text}}

    <div class='form-group'>
        <form class='' id="insertForm" action="/edit_category" method="POST">

            <input type="hidden" name="categoryID" value={{category.categoryID}} id="categoryID">

            <label for="categoryName"></label>
            <input class='form-control' type="text" name="categoryName" placeholder="Category Name" value={{category.categoryName}} id="categoryName"
                required="required">

            <br>
            <input class='btn btn-primary' type="submit" value="Edit Category" id="edit_category_button"
                style='float:left'>
        </form>
        <form action="/category">
            <input class=' btn btn-link' type="submit" value="Cancel" id="cancel_button" style="float:left;">
        </form>
    </div>   
</div>