<h1>Edit a location here!</h1>

{{!-- TODO: Create a good back button --}}
<form action="/new_entry">
    <button>Cancel</button>
</form>

<form action="/new_country">
    <button>Add Country</button>
</form>

<form action="/edit_country">
    <button>Edit Country</button>
</form>