<h1>Add a new category here!</h1>

{{!-- TODO: PUT new entries --}}
<form id="insertForm" action="/">
    <label for="category_name">Name:</label>
    <input type="text" name="category_name" placeholder="Category Name" id="category_name" required="required">
    
    <br>
    <input type="submit" value="Add Category" id="add_location_button">
</form>

{{!-- TODO: Create a good back button --}}
<form action="/new_entry">
    <button>Cancel</button>
</form>